:root {
  --text: #2e3440;
  --border: #3b4252;
  --background: #eceff4;
  --code: #eceff4;
  --underline: #2e344055;
  --scroll-bar: #cbd5e0;
  --scrollbar-thumb: #a0aec0;
  --scrollbar-thumb-hover: #718096;
  --scrollbar-color-one: #a0aec0;
  --scrollbar-color-two: #cbd5e0;
  --description: #4c566a;
  --host: #3b4252;
}
[class="dark"] {
  --text: #d8dee9;
  --border: #d8dee9;
  --background: #4c566a;
  --code: #4c566a;
  --underline: #d8dee955;
  --scroll-bar: #000000;
  --scrollbar-thumb: #2d3748;
  --scrollbar-thumb-hover: #4a5568;
  --scrollbar-color-one: #2d3748;
  --scrollbar-color-two: #000000;
  --description: #eceff4;
  --host: #d8dee9;
}
::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--scroll-bar);
}
::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: var(--scrollbar-thumb);
  &:hover {
    background-color: var(--scrollbar-thumb-hover);
  }
}
html {
  scrollbar-width: "thin";
  scrollbar-color: var(--scrollbar-color-one) var(--scrollbar-color-two);
}
