name: Package Size

on:
  pull_request:
    branches:
      - main

jobs:
  bundle-analyze:
    runs-on: ubuntu-latest

    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v4.1.1
      - name: Setup GitHub App
        id: bot
        uses: re-taro/actions/gen-installation-token@v3.5.4
        with:
          app_id: ${{ secrets.APP_ID}}
          private_key: ${{ secrets.PRIVATE_KEY}}
      - name: Setup | Node.js
        uses: re-taro/actions/setup-node@v3.5.4
        with:
          node-version-file: .tool-versions
      - name: Analyze | Bundle Size
        uses: preactjs/compressed-size-action@2.5.0
        with:
          pattern: build/client/assets/*.{js,css}
          repo-token: ${{ steps.bot.outputs.token }}
      - name: Revoke GitHub Apps token
        env:
          GITHUB_TOKEN: ${{ steps.bot.outputs.token }}
        run: |
          curl --location --silent --request DELETE \
            --url "${GITHUB_API_URL}/installation/token" \
            --header "Accept: application/vnd.github+json" \
            --header "X-GitHub-Api-Version: 2022-11-28" \
            --header "Authorization: Bearer ${GITHUB_TOKEN}"
