name: Main CI

on:
  pull_request:
    branches:
      - main

jobs:
  build-test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Setup | Node.js
        uses: re-taro/actions/setup-node@5460ab0884cf4c0ea62ec8566d4be117fef01781 # v3.7.9
        with:
          node-version-file: .tool-versions
      - name: Run | Build
        run: pnpm run build
  lint-test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Setup | Node.js
        uses: re-taro/actions/setup-node@5460ab0884cf4c0ea62ec8566d4be117fef01781 # v3.7.9
        with:
          node-version-file: .tool-versions
      - name: Setup | Build
        run: pnpm build
      - name: Run | ESLint
        run: pnpm run lint:eslint
  type-test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Setup | Node.js
        uses: re-taro/actions/setup-node@5460ab0884cf4c0ea62ec8566d4be117fef01781 # v3.7.9
        with:
          node-version-file: .tool-versions
      - name: Setup | Build
        run: pnpm build
      - name: Run | tsc
        run: pnpm run lint:tsc
  prettier-test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Setup | Node.js
        uses: re-taro/actions/setup-node@5460ab0884cf4c0ea62ec8566d4be117fef01781 # v3.7.9
        with:
          node-version-file: .tool-versions
      - name: Run | Prettier
        run: pnpm run lint:prettier
  #  unit-test:
  #    runs-on: ubuntu-latest
  #    timeout-minutes: 5
  #    steps:
  #      - name: Setup | Checkout
  #        uses: actions/checkout@v4.1.1
  #      - name: Setup | Node.js
  #        uses: re-taro/actions/setup-node@v3.5.3
  #        with:
  #          node-version-file: .tool-versions
  #      - name: Test | Unit
  #        run: pnpm run test:unit
  integration-test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Setup | Node.js
        uses: re-taro/actions/setup-node@5460ab0884cf4c0ea62ec8566d4be117fef01781 # v3.7.9
        with:
          node-version-file: .tool-versions
      - name: Setup | Playwright
        uses: ./.github/actions/setup-playwright
      - name: Setup | Build
        run: pnpm build
      - name: Test | Integration
        run: |
          pnpm concurrently -k -s first -n "APP,TEST" -c "magenta,blue" \
          "pnpm start" \
          "pnpm wait-on http://127.0.0.1:8788 && pnpm test:integration"
  storybook-test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Setup | Node.js
        uses: re-taro/actions/setup-node@5460ab0884cf4c0ea62ec8566d4be117fef01781 # v3.7.9
        with:
          node-version-file: .tool-versions
      - name: Setup | Playwright
        uses: ./.github/actions/setup-playwright
      - name: Build | Storybook
        run: pnpm run build-storybook --test
      - name: Test | Storybook
        run: |
          pnpm concurrently -k -s first -n "SB,TEST" -c "magenta,blue" \
            "pnpm sirv storybook-static --host 127.0.0.1 --port 6006 --quiet" \
            "pnpm wait-on http://127.0.0.1:6006 && pnpm test:storybook"
